{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-8 mx-auto">
        {% comment %} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endcomment %}

        <h1>Income {{ income.pk }} </h1>
        <ul>
            <li>Date: {{ income.date|date }}</li>
            <li>Type: {{ income.get_income_type_display }}</li>
            <li>Value: ${{ income.value }}</li>
            <li>Repetitive: {{ income.recurrent }}</li>
            {% if income.recurrent %}
                <li>Every: {{ income.recurrency_time }} {{ income.get_recurrency_interval_display }}</li> 
            {% endif %}
        </ul>
        <a href="{% url 'my_finances:income_update' object.pk %}">Update</a>
        <a href="{% url 'my_finances:income_delete' object.pk %}">Delete</a>
    </div>
</div>   

{% endblock content %}
