{% extends 'base.html' %}

{% block content %}

    {% comment %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endcomment %}

    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>Incomes</h1>
            <ul>
                {% for income in object_list %}
                    <li>
                        <a href="{% url 'my_finances:income_detail' income.pk %}">
                            {{ income.date|date }} - {{ income.get_income_type_display }} - ${{ income.value }} - Repetitive: {{ income.recurrent }}
                            {% if income.recurrent %}
                                every {{ income.recurrency_time }} {{ income.get_recurrency_interval_display }}
                            {% endif %}
                        </a>
                    </li>
                
                {% empty %}
                    <li>No incomes yet</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    

{% endblock content %}
